submitSMS/src/main/resources/wsdl/submitSMS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
    targetNamespace="urn:org.jboss.gpse.submitSMS:transform-jaxb:1.0" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="urn:org.jboss.gpse.submitSMS:transform-jaxb:1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
  <types>
    <xsd:schema 
        targetNamespace="urn:org.jboss.gpse.submitSMS:transform-jaxb:1.0" 
        xmlns:tns="urn:org.jboss.gpse.submitSMS:transform-jaxb:1.0" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="sms" type="tns:sms"/>
        <xs:complexType name="sms">
            <xs:sequence>
                <xs:element name="cpid" type="xs:int"/>
                <xs:element name="sender" type="xs:int"/>
                <xs:element name="senderS" type="xs:string"/>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="smsResponse" type="tns:smsResponse"/>
        <xs:complexType name="smsResponse">
            <xs:sequence>
                <xs:element name="cpid" type="xs:int"/>
                <xs:element name="sender" type="xs:int"/>
                <xs:element name="errorCode" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xsd:schema>
  </types>
  
  <message name="submitSMS">
    <part name="parameters" element="tns:sms"/>
  </message>
  <message name="submitSMSResponse">
    <part name="parameters" element="tns:smsResponse"/>
  </message>
  
  <portType name="SubmitSMSPortType">
    <operation name="acceptSMS">
      <input message="tns:submitSMS"/>
      <output message="tns:submitSMSResponse"/>
    </operation>
  </portType>
  
  <binding name="SubmitSMSBinding" type="tns:SubmitSMSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="acceptSMS">
      <soap:operation soapAction="urn:org.jboss.gpse.submitSMS:transform-jaxb:1.0"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
  <service name="ISubmitSMS">
    <port name="SubmitSMSPort" binding="tns:SubmitSMSBinding">
      <soap:address location="http://${ENV.HOSTNAME}:18001/${vendor.name}"/>
    </port>
  </service>

</definitions>
